<mat-card appearance="outlined">
  <mat-card-header>
    <span [ngClass]="data ? 'edit-expense' : 'add-expense'">{{
      data ? 'Edit Expense' : 'Add expense'
    }}</span></mat-card-header
  >

  <mat-card-content>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" id="expense-form">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        @if (expenseForm.get('title')?.invalid && expenseForm.get('title')?.touched) {
          <mat-error>Title is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="amount-field" appearance="fill">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="amount" />
        @if (
          expenseForm.get('amount')?.hasError('required') && expenseForm.get('amount')?.touched
        ) {
          <mat-error> Amount is required </mat-error>
        }
        @if (expenseForm.get('amount')?.hasError('min') && expenseForm.get('amount')?.touched) {
          <mat-error> Amount too small </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="category-field" appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          @for (category of categories; track category.value) {
            <mat-option [value]="category.value">{{ category.viewValue }}</mat-option>
          }
        </mat-select>
        @if (expenseForm.get('title')?.invalid && expenseForm.get('category')?.touched) {
          <mat-error> Category is required </mat-error>
        }
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">
          {{ data ? 'Edit Expense' : 'Add expense' }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
