#expenses-section {
  padding: 1rem;
}

#dashboard {
  display: flex;
  flex-direction: column; 
  gap: 1rem;

  justify-content: center;
}

@media only screen and (min-width: 768px) {
  #dashboard.has-expenses {
    flex-direction: row;
  }
  #dashboard.no-expenses {
    align-items: center;
    #expense-form,
    #expenses-section {
      width: 40%;
    }
  }

  #expense-form,
  #expenses-section {
    width: 45%;
  }
}
