<mat-card appearance="raised" class="expense-card" [ngStyle]="{ 'border-left': '4px solid ' + getCategoryColor(expense.category) }" >
  <mat-card-content class="expense-content">
    <div class="expense-details">
      <div class="expense-secondary">
        <div
          class="category-chip"
          [ngStyle]="{ 'background-color': getCategoryColor(expense.category) }"
        >
          <mat-icon class="category-icon">
            {{ getCategoryIcon(expense.category) }}
          </mat-icon>
        </div>
        <div class="title-date">
          <span class="expense-title">{{ expense.title }}</span>
          <span class="expense-date">{{ expense.date | date: 'shortDate' }}</span>
        </div>
      </div>
    </div>
    <span class="expense-amount">{{ expense.amount | currency }}</span>

    @if (shouldShowButton) {
      <div class="expense-actions">
        <button
          mat-icon-button
          color="warn"
          (click)="deleteExpense(expense.id)"
          aria-label="Delete expense"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </mat-card-content>
</mat-card>
